.productList-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #809caa;
    color: #fefefe;
    height: 27px;
}

.productList-header span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productList-header h2 {
    font-size: 16px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 600;
}

.productList-header>button {
    background-color: transparent;
    color: #fefefe;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: normal;
    width: 17px;
}

.productList-header>span>span>button {
    background-color: transparent;
    color: #fefefe;
    font-size: 16px;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.showroom-tools {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    color: #fefefe;
    margin-top: 4px;
}

.showroom-tools>button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: normal;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.showroom-tools>button:hover>svg {
    fill: #596d76;
    display: block;
}

.tools-button {
    background-color: #809caa;
    color: #fefefe;
    border: none;
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
    margin-top: 8px;
    margin-left: 10px;
    font-size: 12px;
}

.tools-button:disabled {
    background-color: #a6bac3;
}


.showroom-1,
.showroom-2,
.showroom-3,
.showroom-4 {
    display: grid;
    gap: 10px;
    padding: 10px;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
    max-height: 875px;
}

.showroom-1 {
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 380px;
}

.showroom-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 250px;
}

.showroom-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 225px;
}

.showroom-4 {
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 211.5px;
}

.bold {
    font-weight: bold;
}